{{!< default}}

<section class="relative flex flex-col justify-center md:items-center h-screen bg-cover bg-center text-black px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-7xl mx-auto pt-16 md:pt-0">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-16 items-center">
            <div class="text-center md:text-left -mt-16 md:mt-0">
                <h1 class="text-5xl md:text-7xl font-extrabold tracking-tight text-black lg:text-8xl">
                    <span class="block xl:inline">{{t "AI, Demystified."}}</span>
                </h1>
                <p class="mt-4 max-w-md mx-auto text-xl text-gray-600 md:mt-6 md:max-w-3xl">
                    {{t "Your daily source for AI news, made easy for the tech-curious to understand."}}
                </p>
            </div>
            {{#get "posts" limit="1" include="tags,authors"}}
                {{#foreach posts}}
                <a href="{{url}}" class="block bg-gray-200 bg-opacity-50 backdrop-blur-md rounded-lg p-8 md:p-12 lg:p-16 shadow-lg border border-gray-700 hover:bg-opacity-60 hover:border-accent transition-all duration-300 cursor-pointer group md:col-span-2">
                    <h2 class="text-xl md:text-2xl font-semibold text-accent mb-3">{{t "Latest News"}}</h2>
                    <h3 class="text-3xl md:text-4xl lg:text-5xl font-bold text-black mb-4 group-hover:text-accent transition-colors duration-300">{{title}}</h3>
                    <p class="text-gray-400 mb-6 text-lg md:text-xl">
                        {{excerpt words="35"}}
                    </p>
                    <span class="font-semibold text-accent hover:underline text-lg md:text-xl">{{t "Read More"}} &rarr;</span>
                </a>
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>

<main class="gh-main gh-outer">
    <div class="gh-feed gh-inner">
        {{#get "posts" from="2"}}
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
        {{/get}}
    </div>
</main>

